EasyAppointmentSystem/CustomerWebServiceClient/xml-resources/web-service-references/CustomerEntityWebService/wsdl/localhost_8080/CustomerEntityWebService/CustomerEntityWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws.session.ejb/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws.session.ejb/" name="CustomerEntityWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws.session.ejb/" schemaLocation="http://localhost:8080/CustomerEntityWebService/CustomerEntityWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getAllCategories">
<part name="parameters" element="tns:getAllCategories"/>
</message>
<message name="getAllCategoriesResponse">
<part name="parameters" element="tns:getAllCategoriesResponse"/>
</message>
<message name="login">
<part name="parameters" element="tns:login"/>
</message>
<message name="loginResponse">
<part name="parameters" element="tns:loginResponse"/>
</message>
<message name="InvalidLoginException">
<part name="fault" element="tns:InvalidLoginException"/>
</message>
<message name="retrieveAppointmentsByCustomerId">
<part name="parameters" element="tns:retrieveAppointmentsByCustomerId"/>
</message>
<message name="retrieveAppointmentsByCustomerIdResponse">
<part name="parameters" element="tns:retrieveAppointmentsByCustomerIdResponse"/>
</message>
<message name="CustomerNotFoundException">
<part name="fault" element="tns:CustomerNotFoundException"/>
</message>
<message name="createCustomerEntity">
<part name="parameters" element="tns:createCustomerEntity"/>
</message>
<message name="createCustomerEntityResponse">
<part name="parameters" element="tns:createCustomerEntityResponse"/>
</message>
<message name="EntityAttributeNullException">
<part name="fault" element="tns:EntityAttributeNullException"/>
</message>
<message name="createAppointmentEntity">
<part name="parameters" element="tns:createAppointmentEntity"/>
</message>
<message name="createAppointmentEntityResponse">
<part name="parameters" element="tns:createAppointmentEntityResponse"/>
</message>
<message name="ServiceProviderNotFoundException">
<part name="fault" element="tns:ServiceProviderNotFoundException"/>
</message>
<message name="AppointmentAlreadyExistsException">
<part name="fault" element="tns:AppointmentAlreadyExistsException"/>
</message>
<message name="cancelAppointment">
<part name="parameters" element="tns:cancelAppointment"/>
</message>
<message name="cancelAppointmentResponse">
<part name="parameters" element="tns:cancelAppointmentResponse"/>
</message>
<message name="AppointmentCancellationException">
<part name="fault" element="tns:AppointmentCancellationException"/>
</message>
<message name="searchApprovedServiceProviders">
<part name="parameters" element="tns:searchApprovedServiceProviders"/>
</message>
<message name="searchApprovedServiceProvidersResponse">
<part name="parameters" element="tns:searchApprovedServiceProvidersResponse"/>
</message>
<message name="getRatingForService">
<part name="parameters" element="tns:getRatingForService"/>
</message>
<message name="getRatingForServiceResponse">
<part name="parameters" element="tns:getRatingForServiceResponse"/>
</message>
<message name="rateServiceProvider">
<part name="parameters" element="tns:rateServiceProvider"/>
</message>
<message name="rateServiceProviderResponse">
<part name="parameters" element="tns:rateServiceProviderResponse"/>
</message>
<message name="RatingWithoutAppointmentException">
<part name="fault" element="tns:RatingWithoutAppointmentException"/>
</message>
<message name="ServiceProviderAlreadyRatedException">
<part name="fault" element="tns:ServiceProviderAlreadyRatedException"/>
</message>
<message name="searchServiceProvidersByCategoryCityDate">
<part name="parameters" element="tns:searchServiceProvidersByCategoryCityDate"/>
</message>
<message name="searchServiceProvidersByCategoryCityDateResponse">
<part name="parameters" element="tns:searchServiceProvidersByCategoryCityDateResponse"/>
</message>
<message name="freeSlotsPerServiceProviderAndDate">
<part name="parameters" element="tns:freeSlotsPerServiceProviderAndDate"/>
</message>
<message name="freeSlotsPerServiceProviderAndDateResponse">
<part name="parameters" element="tns:freeSlotsPerServiceProviderAndDateResponse"/>
</message>
<message name="DateProcessingException">
<part name="fault" element="tns:DateProcessingException"/>
</message>
<message name="getServiceProviderFromAppointmentId">
<part name="parameters" element="tns:getServiceProviderFromAppointmentId"/>
</message>
<message name="getServiceProviderFromAppointmentIdResponse">
<part name="parameters" element="tns:getServiceProviderFromAppointmentIdResponse"/>
</message>
<message name="AppointmentNotFoundException">
<part name="fault" element="tns:AppointmentNotFoundException"/>
</message>
<portType name="CustomerEntityWebService">
<operation name="getAllCategories">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getAllCategoriesRequest" message="tns:getAllCategories"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getAllCategoriesResponse" message="tns:getAllCategoriesResponse"/>
</operation>
<operation name="login">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/loginRequest" message="tns:login"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/loginResponse" message="tns:loginResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/login/Fault/InvalidLoginException"/>
</operation>
<operation name="retrieveAppointmentsByCustomerId">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/retrieveAppointmentsByCustomerIdRequest" message="tns:retrieveAppointmentsByCustomerId"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/retrieveAppointmentsByCustomerIdResponse" message="tns:retrieveAppointmentsByCustomerIdResponse"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/retrieveAppointmentsByCustomerId/Fault/CustomerNotFoundException"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/retrieveAppointmentsByCustomerId/Fault/InvalidLoginException"/>
</operation>
<operation name="createCustomerEntity">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createCustomerEntityRequest" message="tns:createCustomerEntity"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createCustomerEntityResponse" message="tns:createCustomerEntityResponse"/>
<fault message="tns:EntityAttributeNullException" name="EntityAttributeNullException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createCustomerEntity/Fault/EntityAttributeNullException"/>
</operation>
<operation name="createAppointmentEntity">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createAppointmentEntityRequest" message="tns:createAppointmentEntity"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createAppointmentEntityResponse" message="tns:createAppointmentEntityResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createAppointmentEntity/Fault/InvalidLoginException"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createAppointmentEntity/Fault/ServiceProviderNotFoundException"/>
<fault message="tns:EntityAttributeNullException" name="EntityAttributeNullException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createAppointmentEntity/Fault/EntityAttributeNullException"/>
<fault message="tns:AppointmentAlreadyExistsException" name="AppointmentAlreadyExistsException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/createAppointmentEntity/Fault/AppointmentAlreadyExistsException"/>
</operation>
<operation name="cancelAppointment">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/cancelAppointmentRequest" message="tns:cancelAppointment"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/cancelAppointmentResponse" message="tns:cancelAppointmentResponse"/>
<fault message="tns:AppointmentCancellationException" name="AppointmentCancellationException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/cancelAppointment/Fault/AppointmentCancellationException"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/cancelAppointment/Fault/InvalidLoginException"/>
</operation>
<operation name="searchApprovedServiceProviders">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/searchApprovedServiceProvidersRequest" message="tns:searchApprovedServiceProviders"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/searchApprovedServiceProvidersResponse" message="tns:searchApprovedServiceProvidersResponse"/>
</operation>
<operation name="getRatingForService">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getRatingForServiceRequest" message="tns:getRatingForService"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getRatingForServiceResponse" message="tns:getRatingForServiceResponse"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getRatingForService/Fault/ServiceProviderNotFoundException"/>
</operation>
<operation name="rateServiceProvider">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProviderRequest" message="tns:rateServiceProvider"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProviderResponse" message="tns:rateServiceProviderResponse"/>
<fault message="tns:RatingWithoutAppointmentException" name="RatingWithoutAppointmentException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProvider/Fault/RatingWithoutAppointmentException"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProvider/Fault/ServiceProviderNotFoundException"/>
<fault message="tns:CustomerNotFoundException" name="CustomerNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProvider/Fault/CustomerNotFoundException"/>
<fault message="tns:EntityAttributeNullException" name="EntityAttributeNullException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProvider/Fault/EntityAttributeNullException"/>
<fault message="tns:ServiceProviderAlreadyRatedException" name="ServiceProviderAlreadyRatedException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProvider/Fault/ServiceProviderAlreadyRatedException"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/rateServiceProvider/Fault/InvalidLoginException"/>
</operation>
<operation name="searchServiceProvidersByCategoryCityDate">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/searchServiceProvidersByCategoryCityDateRequest" message="tns:searchServiceProvidersByCategoryCityDate"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/searchServiceProvidersByCategoryCityDateResponse" message="tns:searchServiceProvidersByCategoryCityDateResponse"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/searchServiceProvidersByCategoryCityDate/Fault/InvalidLoginException"/>
</operation>
<operation name="freeSlotsPerServiceProviderAndDate">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/freeSlotsPerServiceProviderAndDateRequest" message="tns:freeSlotsPerServiceProviderAndDate"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/freeSlotsPerServiceProviderAndDateResponse" message="tns:freeSlotsPerServiceProviderAndDateResponse"/>
<fault message="tns:DateProcessingException" name="DateProcessingException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/freeSlotsPerServiceProviderAndDate/Fault/DateProcessingException"/>
<fault message="tns:ServiceProviderNotFoundException" name="ServiceProviderNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/freeSlotsPerServiceProviderAndDate/Fault/ServiceProviderNotFoundException"/>
<fault message="tns:InvalidLoginException" name="InvalidLoginException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/freeSlotsPerServiceProviderAndDate/Fault/InvalidLoginException"/>
</operation>
<operation name="getServiceProviderFromAppointmentId">
<input wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getServiceProviderFromAppointmentIdRequest" message="tns:getServiceProviderFromAppointmentId"/>
<output wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getServiceProviderFromAppointmentIdResponse" message="tns:getServiceProviderFromAppointmentIdResponse"/>
<fault message="tns:AppointmentNotFoundException" name="AppointmentNotFoundException" wsam:Action="http://ws.session.ejb/CustomerEntityWebService/getServiceProviderFromAppointmentId/Fault/AppointmentNotFoundException"/>
</operation>
</portType>
<binding name="CustomerEntityWebServicePortBinding" type="tns:CustomerEntityWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getAllCategories">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="login">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="retrieveAppointmentsByCustomerId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="createCustomerEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="EntityAttributeNullException">
<soap:fault name="EntityAttributeNullException" use="literal"/>
</fault>
</operation>
<operation name="createAppointmentEntity">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
<fault name="EntityAttributeNullException">
<soap:fault name="EntityAttributeNullException" use="literal"/>
</fault>
<fault name="AppointmentAlreadyExistsException">
<soap:fault name="AppointmentAlreadyExistsException" use="literal"/>
</fault>
</operation>
<operation name="cancelAppointment">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentCancellationException">
<soap:fault name="AppointmentCancellationException" use="literal"/>
</fault>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="searchApprovedServiceProviders">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getRatingForService">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
</operation>
<operation name="rateServiceProvider">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="RatingWithoutAppointmentException">
<soap:fault name="RatingWithoutAppointmentException" use="literal"/>
</fault>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
<fault name="CustomerNotFoundException">
<soap:fault name="CustomerNotFoundException" use="literal"/>
</fault>
<fault name="EntityAttributeNullException">
<soap:fault name="EntityAttributeNullException" use="literal"/>
</fault>
<fault name="ServiceProviderAlreadyRatedException">
<soap:fault name="ServiceProviderAlreadyRatedException" use="literal"/>
</fault>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="searchServiceProvidersByCategoryCityDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="freeSlotsPerServiceProviderAndDate">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="DateProcessingException">
<soap:fault name="DateProcessingException" use="literal"/>
</fault>
<fault name="ServiceProviderNotFoundException">
<soap:fault name="ServiceProviderNotFoundException" use="literal"/>
</fault>
<fault name="InvalidLoginException">
<soap:fault name="InvalidLoginException" use="literal"/>
</fault>
</operation>
<operation name="getServiceProviderFromAppointmentId">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="AppointmentNotFoundException">
<soap:fault name="AppointmentNotFoundException" use="literal"/>
</fault>
</operation>
</binding>
<service name="CustomerEntityWebService">
<port name="CustomerEntityWebServicePort" binding="tns:CustomerEntityWebServicePortBinding">
<soap:address location="http://localhost:8080/CustomerEntityWebService/CustomerEntityWebService"/>
</port>
</service>
</definitions>